# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Phillip Shreves
	email = hi@phillips.work

[alias]
	vis = log --all --topo-order --graph --show-signature
[column]
	ui = auto
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
[init]
	defaultBranch = main
[diff]
	algorithm = histogram
	colorMoved = plain
	renames = true
	mnemonicPrefix = true
[push]
	autoSetupRemote = true
	default = simple
	followTags = true
[fetch]
	prune = true
	pruneTags = true
	all = true
[help]
	autocorrect = prompt
[commit]
	verbose = true
[rerere]
	enabled = true
	autoupdate = true
[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true
